*{
    margin: 0;
    padding: 0;
}

#fondo{
    position: absolute;
    width: 100%;
    height: 100%;
}
#oscura{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 45%;
}
#perfil{
    position: absolute;
    width: 400px;
    height: 550px;
    left: 850px;
    top: -3%;
}   

#sobremi{
    font-family: calibri;
    font-size: 55px;
    position: absolute;
    left: 15%;
    top: 15%;
    color: white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    background-color: transparent;
    width: 320px;
    display: flex;
    justify-content: center;
    cursor: default;
    text-shadow: 2px 2px 3px black;
}
#descri{
    font-family: calibri;
    font-size: 22px;
    position: absolute;
    left: 8%;
    top: 30%;
    width: 620px;
    color: white;
    text-shadow: 2px 2px 3px black;
    cursor: default;
}
#contacto{
    font-family: calibri;
    font-size: 35px;
    position: absolute;
    top: 65%;
    left: 67%;
    color: white;
    text-shadow: 2px 2px 3px black;
    cursor: default;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    background-color: transparent;
    width: 270px;
    display: flex;
    justify-content: center;
}

#email{
    color: white;
    position: absolute;
    top: 75%;
    left: 62%;
    text-shadow: 2px 2px 3px black;
    cursor: default;
    opacity: 45%;
}
#email:hover{
    opacity: 100%;

    transition: 0.2s all;
}
#textemail{
    font-family: calibri;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 75%;
    left: 66%;
    text-shadow: 2px 2px 3px black;
    cursor: default;
    opacity: 45%;
}
#textemail:hover{
    opacity: 100%;

    transition: 0.2s all;
}
#number{
    color: white;
    position: absolute;
    top: 85%;
    left: 66%;
    text-shadow: 2px 2px 3px black;
    cursor: default;
    opacity: 45%;
}
#number:hover{
    opacity: 100%;

    transition: 0.2s all;
}
#textnumber{
    font-family: calibri;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 85%;
    left: 70%;
    text-shadow: 2px 2px 3px black;
    cursor: default;
    opacity: 45%;
}
#textnumber:hover{
    opacity: 100%;

    transition: 0.2s all;
}
#inicio{
    position: absolute;
    top: 87%;
    left: 47.5%;
    color: white;
    text-shadow: 2px 2px 3px black;
    opacity: 45%;
}
#inicio:hover{
    opacity: 100%;

    transition: 0.2s all;
}